<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Segmentation App</title>
</head>
<body>
   <h1>Segmentation App!</h1>
        <h2>Upload a Primary Input</h2>
        <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>
        <form method=post>
            <input type="submit" name="segment_button" value="Segment">
        </form>
        {% if have_segmented %}
        <nav>
            <ul>
                {%for i in range(0, layer_list|length)%}
                    {% set currlist = layer_list[i] %}
                    <li>{{currlist}}</li>
                    <form method=post enctype=multipart/form-data>
                        <input type="hidden" id="index" name="index" value="{{ currlist }}">
                        <input type=file name=secondary_input>
                        <input type=submit value=Upload>
                    </form>
                {%endfor%}
            </ul>
        </nav>
        <form method=post>
            <input type="submit" name="replace_button" value="Replace Layers">
        </form>
        {% endif %}   
</body>
</html>